.MobileCompany {
    position: relative;
}

.MobileClient .blocked {
    background-color: red;
}

.MobileClient .active {
    background-color: green;
}

.MobileClient td {
    padding: 5px;
}

table, td, th {
    border: 1px solid #000;
}

label {
   /* width: 80px;*/
    display: inline-block;
    margin: 5px;
}

.active {
    background: silver;
}

input[type='button'] {
    margin: 5px;
}



.elem {
    width: 300px; /* 350 */
    min-height: 300px;
    /*padding: 10px;*/
    margin: 20px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    font-family: 'Caveat', cursive;
    position: relative;
    padding-bottom: 30px;
    /*transition: .5s transform;*/
    transition: 2s;
}

.elem.-completed { /*добавила 13/12*/
    background: #5cc9fb45;
    box-shadow: 5px 5px 7px rgba(33,33,33,.3);
}

.elem.-marked {
    transform: translate(-2000px, -1000px);
    width: 0;
    margin: 0;
}

.elem:nth-child(2n) {
    /*transform: rotate(3deg);*/
}

.elem:nth-child(3n) {
    /*transform: rotate(-5deg);*/
}

.elem:hover {
   /* transform: scale(1.1); *//* ?? */
}

.head {
    height: 55px;
    background: rgba(0,0,0,.03);
}

.action {
    position: absolute;
    top: 10px;
    right: 10px;
}

.yellow {
    background-color: #f9f98b;
}

.red {
    background-color: #fa6b98c7; /* #fa6b98; #fa6b98c7 */
}

.orange {
    background-color: #f9c244;
}

.green {
    background-color: #1cc90696; /* #1cc906; #1ffa6f  #1cc90696 */
}

.tasks-wrapper {
    display: flex;
  /*  justify-content: space-between;*/
    flex-wrap: wrap;
    padding: 30px;
}

body, textarea, input, legend {
    font-family: 'Caveat', cursive;
}

textarea {
    width: 100%;
}

textarea, input[type=text] {
    border: 1px solid #dddddd;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,.07);
    font-size: 26px;

}

textarea:focus, input[type=text]:focus {
    border-color: #5cc9fb;
    outline: 1px solid #5cc9fb;
}

.done, .exit, .edit {
    color: rgba(0,0,0,.5);
    cursor: pointer;
    margin-left: 20px;
}

.done:hover, .exit:hover, .edit:hover {
    color: rgba(0,0,0,1);
}

.done, .exit, .edit {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
}
.done::after {
    content: "\f274";
    font-weight: 400;
  /*  font-family: "Font Awesome 5 Free";*/
   /* font-weight: 900;*/
  /*  font-size: 26px;*/
    /*position: absolute;
    top: 0;
    right: 0;*/
}

.exit::after {
    content: "\f2ed";
}

.edit::after {
    content: "\f303";
}

.content {
    padding: 0 10px 10px;
    line-height: 1;
}

.content p {
    margin: 0;
}

.content .title {
    font-size: 30px;
    margin-bottom: 15px;
}

.content .notes {
    font-size: 26px;
    margin-bottom: 10px;
    color: #224f86;
}

.content .date {
    font-size: 22px;
    position: absolute;
    bottom: 0;
}

.importance {
    padding-left: 0;
    margin: 20px 0;
}

.importance li {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 15px;
}
.importance li[data-color="red"], .red {
    background-color: #fa6b98c7;
}
.importance li[data-color="orange"], .orange {
    background-color: #f9c244;
}
.importance li[data-color="yellow"], .yellow {
    background-color: #f9f98b;
}
.importance li[data-color="green"], .green {
    background-color: #1cc90696;
}



.shadow {
    box-shadow: 0 0 0 4px #5cc9fb;
}

.add-btn {
   /* position: absolute;
    top: 20px;
    right: 15px;*/
    text-transform: uppercase;
}

fieldset {
    border: 2px solid #5cc9fb;
    /*width: 60%;
    margin: 0 auto;
    box-shadow: 0 10px 35px rgba(0,0,0,.2);*/
    color: #616060;
    width: 260px;
    font-size: 20px;
    display: inline-block;
}

fieldset .importance {
    margin: 0;
}

fieldset .importance li {
    width: 32px;
    height: 32px;
}


[role='dialog'].MuiPaper-root {
    border: 3px solid #5cc9fb;
    width: 500px;
    font-family: 'Caveat', cursive;
    font-size: 22px;

}

[role='dialog'] label {
    color: #616060;
    width: 145px;
}


[role='dialog'] .completed-task label {
    width: auto;
    margin-left: 0;  /* может убрать в label вообще? */
}

.completed-task .title {
    font-size: 32px;
    margin-bottom: 5px;
}

.completed-task .notes {
    color: #224f86;
    margin-bottom: 15px;
}

[role='dialog'] .MuiDialogTitle-root {
    background: #5cc9fb96;
    font-family: 'Caveat', cursive !important;
    /*border-bottom: 3px solid #5cc9fb;*/
    font-size: 24px;
}

input[type=button] {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    padding: 8px 25px;
    border-radius: 4px;
    font-size: 20px;
   /* box-shadow: 0 5px 15px rgba(0,0,0,.07); */
}

.MuiDialogActions-root {
    border-top: 3px solid #5cc9fb2e;
    background: #5cc9fb2e;
}

.MuiFormControl-root {
    border: 1px solid #dddddd !important;

}

.MuiFormControl-root input {
    font-family: 'Caveat', cursive;
    padding: 5px;
    font-size: 20px;
}

.MuiFormControl-root fieldset {
    border: none;
    box-shadow: none;
}

header {
    font-family: 'Caveat', cursive; /**/
}